body {
    max-width: 300px;
}

.input-text-area {
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
}

.show-length-area {
    margin-top: 5px;
    margin-left: 15px;
}